.heroScrum {
  background-color: white;
    padding-top: 20px;
    text-align: center;
  }

section{
    padding: 50px 0;
    text-align: center;
}
section .title{
    color: #0000CD;
    font-family: Hanuman;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-left: 100px;
}


/* Estilo para a imagem do Scrum */
.img-scrum {
  display: block;
  width: 600px;
  height: 500;
  margin-top: 40px;
}

/* Estilo para centralizar a imagem vertical e horizontalmente */
.column.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para o texto abaixo da imagem */
.text-below-image {
  color: #000;
  text-align: center; /* Centralizar o texto justificado horizontalmente */
  font-family: Hanuman, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 100px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
}

section .title{
    color: #0000CD;
    font-family: Hanuman;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-left: 100px;
}